<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('../partials/navigation') %>
    <main>
        <% if(errorMessage) { %>
        <div><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="/admin/update-new-password" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <div class="form-control">
                <label for="Price">Password</label>
                <input type="password" name="newPassword" placeholder="Update New Password!">
            </div>
            <button type="submit">UPDATE PASSWORD</button>
        </form>
    </main>    
<%- include('../partials/end') %>