<%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" href="/css/product.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('../partials/navigation') %>
    <main>
        <% if(errorMessage) { %>
        <div><%= errorMessage %></div>
        <% } %>
        <form action="/admin/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div>
                Email: <input type="text" name="email">
                password: <input type="password" name="password" id="">
                <button>Submit</button>
            </div>
        </form>
    </main>
<%- include('../partials/end') %>